
/* HEADER */
.header-top {
    border: 3px solid lime;
}

.header-bottom {
    border: 3px solid rgb(207, 238, 94);
}

/* MAIN */

.star::before,
.star::after {
    content: "";
    width: 15%;
    height: 6px;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 6px;
}

.star {
    font-size: 44px;
}



/* FOOTER */

.contact div {
    height: 100px;
    border: 3px dashed rgb(253, 148, 28);
}

address {
    height: 100px;
    border: 3px dashed lightpink;
}

.info-website {
    height: 100px;
    border: 3px dashed rebeccapurple;
}

.bg-acquamarine {
    background-color: #1ABC9C;
}

.footer-top {
    background-color: #3A546D;
}

.footer-bottom, .bg-darkblue {
    background-color: #2C3E50;
    text-align: ;
}
