
/* HEADER */
.header-top {
    border: 3px solid lime;
}

.header-bottom {
    border: 3px solid rgb(207, 238, 94);
}

/* MAIN */

.line {
    border-bottom: 5px dolid black;
}


.about-title {
    height: 150px;
    border: 3px solid rgb(241, 25, 25);
}

blockquote {
    height: 150px;
    border: 3px dashed darkgoldenrod;
}

.about-btt-download {
    height: 150px;
    border: 3px solid darkgray;
}

.contact-me {
    height: 500px;
    border: 3px solid darkgreen;
}

/* FOOTER */

.contact div {
    height: 100px;
    border: 3px dashed rgb(253, 148, 28);
}

address {
    height: 100px;
    border: 3px dashed lightpink;
}

.info-website {
    height: 100px;
    border: 3px dashed rebeccapurple;
}

.bg-acquamarine {
    background-color: #1ABC9C;
}

.footer-top {
    background-color: #3A546D;
}

.footer-bottom, .bg-darkblue {
    background-color: #2C3E50;
}
