
/* HEADER */
.header-top {
    border: 3px solid lime;
}

.header-bottom {
    border: 3px solid rgb(207, 238, 94);
}

/* MAIN */

.star-white::before,
.star-white::after,
.star-black::before,
.star-black::after {
    content: "";
    width: 15%;
    height: 6px;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 6px;
}

.star-white,
.star-black {
    font-size: 44px;
}

.section-portfolio .star-black, 
.section-portfolio h2,
.section-contact-me .star-black,
.section-contact-me h2 {
    color: black;
}

.section-portfolio .star-black::before,
.section-portfolio .star-black::after,
.section-contact-me .star-black::before,
.section-contact-me .star-black::after  {
    background-color: black;
}

#btn-dowload {
    border: 1px solid white;
}

.section-contact-me .form-control {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}





/* FOOTER */

.contact div {
    height: 100px;
    border: 3px dashed rgb(253, 148, 28);
}

address {
    height: 100px;
    border: 3px dashed lightpink;
}

.info-website {
    height: 100px;
    border: 3px dashed rebeccapurple;
}

.bg-acquamarine {
    background-color: #1ABC9C;
}

.footer-top {
    background-color: #3A546D;
}

.footer-bottom, .bg-darkblue {
    background-color: #2C3E50;
    text-align: ;
}
